@media (min-width:768px) {
    .button-container {
        display: flex;
        gap: 24px;
        margin-top: 16px;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    .encriptar {
        width: 100%;
    }

    .desencriptar {
        width: 100%;
    }

    .decrypt-container-1 {
        display: flex;
        flex-direction: column;
        padding: 32px;
        margin: 16px;
        gap: 32px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;

    }

    .animation-off {
        animation: fade-out-bck .3s cubic-bezier(.25, .46, .45, .94) both;
        -webkit-animation: fade-out-bck .3s cubic-bezier(.25, .46, .45, .94) both;
        position: absolute;
        z-index: -1;
    }

    @keyframes fade-out-bck {
        0% {
            transform: translateZ(0);
            opacity: 1
        }

        100% {
            transform: translateZ(-80px);
            opacity: 0
        }
    }
    .animation-on {
        display: flex;
        animation: fade-in-fwd .2s cubic-bezier(.39, .575, .565, 1.000) both;
        -webkit-animation: fade-in-fwd .2s cubic-bezier(.39, .575, .565, 1.000) both;
    }

    .copied{
        display: none;
    }

    .decrypt-container-2 {
        display: none;
        flex-direction: column;
        padding: 32px;
        margin: 16px;
        gap: 32px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .fir{ animation:fir .4s cubic-bezier(.39,.575,.565,1.000) both; -webkit-animation:fir .4s cubic-bezier(.39,.575,.565,1.000) both; }
    @keyframes fir{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}


}