@media (min-width:768px) {
    .button-container {
        display: flex;
        gap: 24px;
        margin-top: 16px;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
    .encriptar{
        width: 100%;
    }
    .desencriptar{
        width: 100%;
    }
}